
body {
    background-color: rgb(83, 83, 254)
}

section {
    background-color: #9f9f9f;
    font-size: 30px;
    align-items: center;
    border: 5px double black;
    box-shadow: 0 0 12px 1px black;
    position: fixed;
    width: 100%;
    left: -2px;
    top:-2px;
    display: flex ;
    padding: -10px;

}
h1 {

    text-align: left;
    font-size: 50px; color:black
}

div{
    background-color:  #acd0ff;
    box-shadow: 0 0 12px 1px black;
    font-size: 30px;
    border: 5px double black;
    display:inline-block;
    text-align:center;
    width: 80%;
    padding: 15px;
    margin-left: 8%;
}